body,
h1,
h2,
h3,
h4,
h5,
img,
p,
div {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#main {
    margin-top: 2%;
}

.titleBar {
    background-color: #232F3E;
    padding: 1%;
    color: #ffffff;
}

#surveyTitle h3 {
    padding: 10px;
    color: white;
}

#congratulations {
    margin-top: 5%;
}

.pillBox {
    background-color: #ffffff;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid #FF9900;
    border-radius: 10px;
}

.pillBox h3 {
    margin-bottom: 20px;
}

.pillBox.blue {
    border: 2px solid #232f3e !important;
}

.ctaBigButton.blue {
    background-color: #232f3e;
    margin-bottom: 1%
}

.ctaBigButton.blue:hover {
    background-color: #FF9900;
}

.ctaBigButton {
    background-color: #FF9900;
    border: none;
    display: block;
}

.progress-bar {
    background-color: #FF9900 !important
}

.ctaBigButton:hover {
    background-color: #232F3E;
    border: none;
    display: block;
}

.hide {
    display: none;
}

#offer-wall h3,
#verification-complete h4 {
    text-align: center;
}

#offer-wall {
    border: 2px solid #232F3E;
    padding: 20px;
    margin-bottom: 20px;
}

.product-info {
    list-style-image: url('../images/checked.png');
}
#okBtn{
    background-color: #FF9900;
    border: none;
}
.product-info .claimBtn {
    background-color: #FF9900;
    display: block;
    padding: 10px;
    width: 60%;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.product-info .claimBtn:hover {
    background-color: #232F3E;
}
.product-info ul{
    margin-left: 12.5%;
}
.product-info h4 {
    font-size: 1.2em;
    margin-top: 1em;
    text-align: center;
}
.product-img img{
    display: block;
    margin: 0 auto;
}
.empty-space {
    height: 50px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .product-img img{
        width: 100%;
    }
    .product-info h4{
        text-align: center;
    }

    .product-info .claimBtn{
        margin: 0 auto 20px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}