
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .tablet {
        display: block;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }


    .tablet {
        display: block;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }


    .tablet {
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }


    .tablet {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }


    .tablet {
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .desktopOnly {
        display: block;
    }

    .mobileOnly {
        display: none;
    }


    .tablet {
        display: block;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .desktopOnly {
        display: block;
    }

    .mobileOnly {
        display: none;
    }


    .tablet {
        display: block;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .desktopOnly {
        display: block;
    }

    .mobileOnly {
        display: none;
    }


    .tablet {
        display: block;
    }
}